
  <h2>micomponente works!</h2>
<h3>Hola,¿Que pasa? {{nombre}}</h3>
  <p>
<button (click)="cambiarNombre('Joselete')" (dblclick)="cambiarNombre('Paco')" >Boton Joselete</button>
<button (click)="cambiarNombre('Josema')"  >Boton Josema</button>
<button (click)="cambiarNombre('Josema Molino')"  >Boton Josema</button>
<button (click)="cambiarNombre('Josema Molino Hervas')"  >Boton Josema</button>
  </p>
  <p>
<label>Introducir nombre:<input type="text" [(ngModel)]= "nombreEntrada")] ></label>

</p>
<button (click)="cambiarnombreentrada(nombreEntrada)">Cambiar nombre</button>
<h2>{{nombreEntrada}} </h2>
